@page "/blog/{slug}"

@using StoryBlog.Web.Client.Blog.Store
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@switch (PostStore.Value.StoreState)
{
    case StoreState.Empty:
    {
        break;
    }

    case StoreState.Loading:
    {
        <MudText>Loading...</MudText>

        break;
    }

    case StoreState.Success:
    {
        var post = PostStore.Value.Post!;

        <PageTitle>@post.Title</PageTitle>

        <article>
            <div>
                <MudText Typo=@Typo.h4>@post.Title</MudText>
            </div>
            <div>
                <span>@post.CreatedAt</span>
            </div>
            <div>
                <MudMarkdown Value=@post.Text />
            </div>

            @{
                var store = CommentsStore.Value;

                switch (store.StoreState)
                {
                    case StoreState.Loading:
                    {
                        <div>Loading...</div>

                        break;
                    }

                    case StoreState.Success:
                    {
                        <MudPaper Square=true Elevation=0 Class="storyblog-blog pa-2">
                            <div>
                                <MudText Typo=@Typo.h6>@Localizer["CommentsHeaderLabel"]</MudText>
                            </div>
                            <Comments OnFetchComments=@DoFetchComments>
                                @foreach (var comment in store.Comments)
                                {
                                    <Comment Key=@comment.Key PostKey=@post.Key Comments=@comment.Comments CreatedDateTime=@comment.CreateAt Class="pa-2">
                                        <ChildContent>
                                            @comment.Text
                                        </ChildContent>
                                    </Comment>
                                }
                            </Comments>
                        </MudPaper>

                        break;
                    }

                    case StoreState.Empty:
                    {
                        <div>No comments yet</div>
                        
                        break;
                    }

                    case StoreState.Failed:
                    {
                        <div>No comments yet</div>
        
                        break;
                    }
                }
            }
        </article>

        break;
    }

    case StoreState.Failed:
    {
        <MudAlert Severity=@Severity.Error>Cannot load post/comments</MudAlert>

        break;
    }
}

